<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html" >
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="calm-form-line.html" >

<!--
`calm-conditional-form` allows to hide a part of the form behind a detail button.

### Styling
The following custom properties and mixins are also available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--calm-conditional-form-accent` | Color of the checkbox and the left line | `blue`

You can also use any of the `paper-checkbox` style mixins and custom properties.

@demo demo/index.html
-->

<dom-module id="calm-conditional-form">
<style>
	paper-checkbox{
		display: block;
		margin-top: 24px;
		--paper-checkbox-checked-ink-color: var(--calm-conditional-form-accent, blue);
		--paper-checkbox-unchecked-ink-color: var(--calm-conditional-form-accent, blue);
		--paper-checkbox-checked-color: var(--calm-conditional-form-accent, blue);
	}
	#collapseContent{
		padding-top: 8px;
	}
	#wrapperForContent{
		border-left: 1px solid;
		border-left-color: var(--calm-conditional-form-accent, blue);
		padding-left: 16px;
	}
</style>
<template>
	<div>
		<paper-checkbox checked="{{isChecked}}"><span class="checkboxLabel">{{label}}</span></paper-checkbox>
		<iron-collapse id="collapse" opened="{{isChecked}}">
			<div id="collapseContent">
				<div id="wrapperForContent">
					<content id="content"></content>
				</div>
			</div>
		</iron-collapse>




	</div>
</template>
</dom-module>
<script>
Polymer({
	is: "calm-conditional-form",
	properties: {

		/**
		*	Label next to the checkbox.
		*/
		label:{
			type: String,
			notify: true
		},

		/**
		*	Current state of the checkbox.
		*/
		isChecked: {
			type: Boolean,
			notify: true,
			value: false
		},

		/**
		*	If true every content element will be marked as required as well.
		*/
		required:{
			type:Boolean,
			notify: true,
			value: false
		},

		/**
		*	The first node which did not pass validation.
		*/
		invalidNode:{
			type: Object,
			notify: true,
			value: function(){return {};}
		}
	},

	/**
	*	Validates all content nodes that are required.
	*
	*	@return {Boolean} true if every required field is valid, otherwise false.
	*/
	validate: function(e){
		// Reset current invalid node.
		this.invalidNode = null;

		// Only validate if the conditional form is active.
		if (this.isChecked){

			// Get content elements.
			var contentElement = Polymer.dom(this.$.contentWrapper).querySelector("#content");
			var nodes = Polymer.dom(contentElement).getDistributedNodes();

			// Iterate over the elements.
			var isValid = true;
			for (var index=0 ; index<nodes.length ; index++){

				// Check if the current node has a validate function.
				if (nodes[index].nodeType == 1 && (typeof nodes[index].validate == "function")){

					// If this calm-conditional-form is required automatically mark the content node as required.
					if (this.required){
						nodes[index].required = true;
					}

					// Call the validate function.
					if (!nodes[index].validate()){

						// If this element is not valid store it if there is no invalidNode yet.
						if (this.invalidNode == null){

							// Checks if the node itself has a invalidNode porperty. If yes, uses it.
							if (nodes[index].invalidNode != null){
								this.invalidNode = nodes[index].invalidNode;
							}
							else{
								this.invalidNode = nodes[index];
							}
						}
						isValid = false;
					}
				}
			}
			return isValid;
		}
		return true;
	},

	/**
	*	Gets all the values from the content elements marked as relevant.
	*
	*	@return {Object} holding ids and values.
	*/
	getValue:function(){

		// If this calm-conditional-form is not active return an empty object.
		if (! this.isChecked) return{};

		// Gets the content nodes.
		var nodes = Polymer.dom(this.$.content).getDistributedNodes();
		var object = {};

		// Iterates over all content elements.
		for (var index=0 ; index<nodes.length ; index++){

			// Checks if the current node (preferrably a calm-form-line) has a getValue function.
			if (nodes[index].nodeType == 1 && (typeof nodes[index].getValue == "function")){
				var lineObject = nodes[index].getValue();

				// Adds the received data to the object.
				for (var key in lineObject){
					if (lineObject.hasOwnProperty(key)){
						object[key] = lineObject[key];
					}
				}
			}
			else{
				// Skip if there's nothing to read.
				if (nodes[index].attributes == null) continue;

				if (nodes[index].value != null){
					var node = nodes[index];

					// If no id is presend, skip this node.
					if (!node.attributes.id){
						continue;
					}

					// Check if whitespaces should be removed.
					if (node.attributes["remove-whitespace"]){
						object[node.attributes.id.value] = node.value.replace(/ /g, "");
						object[node.attributes.id.value] = node.value.replace(/\'/g, "");
					}
					else{
						object[node.attributes.id.value] = node.value;
					}
				}
				// Check if value can be gotten by selectedValue.
				else if (node.selectedValue){
					object[node.attributes.id.value] = node.selectedValue;
				}

				// Check if node has a selected property.
				else if (node.selected != null && node.attributes.id){
					object[node.attributes.id.value] = node.selected;
				}
			}
		}
		return object;
	},

	/**
	*	Resets all the values.
	*/
	reset:function(){
		// Gets the content nodes.
		var nodes = Polymer.dom(this.$.content).getDistributedNodes();

		// Iterates over all content elements.
		for (var index=0 ; index<nodes.length ; index++){

			// Checks if the current node (preferrably a calm-form-line) has a reset function.
			if (nodes[index].nodeType == 1 && (typeof nodes[index].reset == "function")){
				nodes[index].reset();
			}
			else{
				// Check if the node has a value.
				if (nodes[index].value != null){
					nodes[index].value = "";
				}
				// Check if value can be gotten by selectedValue.
				else if (nodes[index].selectedName){
					nodes[index].selectedName = "";
				}

				// Check if node has a selected property.
				else if (nodes[index].selected != null && nodes[index].attributes.id){
					nodes[index].selected = -1;
				}
			}
		}
	}
});
</script>
