<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html" >

<!--
`calm-form-line`
used inside the `calm-form` to organize input fields and simplify value extraction.
All input fields that should be considered in the getValue() function need to have a `relevant` attribute.

@demo demo/index.html
-->

<dom-module id="calm-form-line">
	<style>
		:host{
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  			display: -ms-flexbox;      /* TWEENER - IE 10 */
  			display: -webkit-flex;     /* NEW - Chrome */
  			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			-webkit-box-orient: horizontal;
			-moz-box-orient: horizontal;
			-ms-flexbox-orient: horizontal;
			-webkit-flex-direction: row;
			flex-direction: row;
			-webkit-box-flex-wrap: wrap;
			-moz-box-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-left: -16px;
			-webkit-box-pack: flex-start;
			-moz-box-pack: flex-start;
			-ms-box-pack: flex-start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
			align-items: flex-end;
			-webkit-align-items: flex-end;
		}
		:host ::content>*{
			margin-left: 16px;
			-webkit-box-flex-shrink: 0;
			-moz-box-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-moz-flex-shrink: 0;
			flex-shrink: 0;
			-webkit-box-flex-grow: 1;
			-moz-box-flex-grow: 1;
			-webkit-flex-grow: 1;
			-moz-flex-grow: 1;
			flex-grow: 1;
		}
		:host ::content.sizeClass1{
			-webkit-box-flex-basis: 20px;
			-moz-box-flex-basis: 20px;
			-webkit-flex-basis: 20px;
			-moz-flex-basis: 20px;
			flex-basis: 20px;
			-webkit-box-flex-grow: 1;
			-moz-box-flex-grow: 1;
			-webkit-flex-grow: 1;
			-moz-flex-grow: 1;
			flex-grow: 1;
		}
		:host ::content.sizeClass2{
			-webkit-box-flex-basis: 40px;
			-moz-box-flex-basis: 40px;
			-webkit-flex-basis: 40px;
			-moz-flex-basis: 40px;
			flex-basis: 40px;
			-webkit-box-flex-grow: 2;
			-moz-box-flex-grow: 2;
			-webkit-flex-grow: 2;
			-moz-flex-grow: 2;
			flex-grow: 2;
		}
		:host ::content.sizeClass3{
			-webkit-box-flex-basis: 60px;
			-moz-box-flex-basis: 60px;
			-webkit-flex-basis: 60px;
			-moz-flex-basis: 60px;
			flex-basis: 60px;
			-webkit-box-flex-grow: 3;
			-moz-box-flex-grow: 3;
			-webkit-flex-grow: 3;
			-moz-flex-grow: 3;
			flex-grow: 3;
		}
		:host ::content.sizeClass4{
			-webkit-box-flex-basis: 80px;
			-moz-box-flex-basis: 80px;
			-webkit-flex-basis: 80px;
			-moz-flex-basis: 80px;
			flex-basis: 80px;
			-webkit-box-flex-grow: 4;
			-moz-box-flex-grow: 4;
			-webkit-flex-grow: 4;
			-moz-flex-grow: 4;
			flex-grow: 4;
		}
		:host ::content.sizeClass5{
			-webkit-box-flex-basis: 100px;
			-moz-box-flex-basis: 100px;
			-webkit-flex-basis: 100px;
			-moz-flex-basis: 100px;
			flex-basis: 100px;
			-webkit-box-flex-grow: 5;
			-moz-box-flex-grow: 5;
			-webkit-flex-grow: 5;
			-moz-flex-grow: 5;
			flex-grow: 5;
		}
		:host ::content.sizeClass6{
			-webkit-box-flex-basis: 120px;
			-moz-box-flex-basis: 120px;
			-webkit-flex-basis: 120px;
			-moz-flex-basis: 120px;
			flex-basis: 120px;
			-webkit-box-flex-grow: 6;
			-moz-box-flex-grow: 6;
			-webkit-flex-grow: 6;
			-moz-flex-grow: 6;
			flex-grow: 6;
		}
		:host ::content.sizeClass7{
			-webkit-box-flex-basis: 140px;
			-moz-box-flex-basis: 140px;
			-webkit-flex-basis: 140px;
			-moz-flex-basis: 140px;
			flex-basis: 140px;
			-webkit-box-flex-grow: 7;
			-moz-box-flex-grow: 7;
			-webkit-flex-grow: 7;
			-moz-flex-grow: 7;
			flex-grow: 7;
		}
		:host ::content.sizeClass8{
			-webkit-box-flex-basis: 160px;
			-moz-box-flex-basis: 160px;
			-webkit-flex-basis: 160px;
			-moz-flex-basis: 160px;
			flex-basis: 160px;
			-webkit-box-flex-grow: 8;
			-moz-box-flex-grow: 8;
			-webkit-flex-grow: 8;
			-moz-flex-grow: 8;
			flex-grow: 8;
		}
		:host ::content.sizeClass9{
			-webkit-box-flex-basis: 180px;
			-moz-box-flex-basis: 180px;
			-webkit-flex-basis: 180px;
			-moz-flex-basis: 180px;
			flex-basis: 180px;
			-webkit-box-flex-grow: 9;
			-moz-box-flex-grow: 9;
			-webkit-flex-grow: 9;
			-moz-flex-grow: 9;
			flex-grow: 9;
		}
		:host ::content.sizeClass10{
			-webkit-box-flex-basis: 200px;
			-moz-box-flex-basis: 200px;
			-webkit-flex-basis: 200px;
			-moz-flex-basis: 200px;
			flex-basis: 200px;
			-webkit-box-flex-grow: 10;
			-moz-box-flex-grow: 10;
			-webkit-flex-grow: 10;
			-moz-flex-grow: 10;
			flex-grow: 10;
		}
		:host ::content.sizeClass11{
			-webkit-box-flex-basis: 220px;
			-moz-box-flex-basis: 220px;
			-webkit-flex-basis: 220px;
			-moz-flex-basis: 220px;
			flex-basis: 220px;
			-webkit-box-flex-grow: 11;
			-moz-box-flex-grow: 11;
			-webkit-flex-grow: 11;
			-moz-flex-grow: 11;
			flex-grow: 11;
		}
		:host ::content.sizeClass12{
			-webkit-box-flex-basis: 240px;
			-moz-box-flex-basis: 240px;
			-webkit-flex-basis: 240px;
			-moz-flex-basis: 240px;
			flex-basis: 240px;
			-webkit-box-flex-grow: 12;
			-moz-box-flex-grow: 12;
			-webkit-flex-grow: 12;
			-moz-flex-grow: 12;
			flex-grow: 12;
		}
  	</style>
  	<template>
    	<content id="content"></content>
  	</template>
</dom-module>
<script>
  	Polymer({
    	is: "calm-form-line",
    	properties: {
			/**
			*	Array holding the weight of each element. The sum has to be 12.
			*/
			weights: {
				type:Array,
				value: function(){
					return [];
				}
			},

			/**
			*	If set to true every element inside this line will be validated.
			*/
			required:{
				type:Boolean,
				notify:true,
				value: false
			},

			/**
			*	The first node which did not pass validation.
			*/
			invalidNode:{
				type: Object,
				notify: true,
				value: function(){return {};}
			}

        },

		/**
		*	Setup.
		*/
		ready: function(e){
			var weightSum = 0;
			for (var index = 0 ; index<this.weights.length ; index++){
				weightSum += this.weights[index];
			}
			if (weightSum != 12){
				console.warn("Weights of content of calm-form-line not 12! ("+weightSum+")");
				console.log(this);
				return;
			}

			// Set the content's classes according to their wheight.
			var nodes = Polymer.dom(this.$.content).getDistributedNodes();
			var weightIndex = 0;
			for (var index = 0 ; index<nodes.length ; index++){
				if (nodes[index].nodeType == 1){
					nodes[index].className+=" sizeClass"+this.weights[weightIndex];
					weightIndex++;
				}
			}
		},

		/**
		*	Validates all content elements that are marked as required. If this element has required set to true all content will be validated.
		*
		*	@return {Boolean} true if every required field is valid, otherwise false.
		*/
		validate: function(){
			this.invalidNode = null;
			var nodes = Polymer.dom(this.$.content).getDistributedNodes();
			var isValid = true;
			for (var index=0 ; index<nodes.length ; index++){
				if (this.required){
					nodes[index].required = true;
				}
				if (nodes[index].nodeType == 1 && (typeof nodes[index].validate == "function")){
					if (!nodes[index].validate()){
						if (this.invalidNode == null){
							this.invalidNode = nodes[index];
						}
						isValid = false;
					}
				}
			}
			return isValid;
		},

		/**
		*	Gets all the values from the content elements marked as relevant.
		*	The elements which have the remove-whitespace property set will have whitespaces and ' characters removed.
		*
		*	@return {Object} holding ids and values.
		*/
		getValue:function(){
			// Get nodes in content tag.
			var nodes = Polymer.dom(this.$.content).getDistributedNodes();
			var obj = {};
			for (var index=0 ; index<nodes.length ; index++){

				// Skip if there's nothing to read.
				if (nodes[index].attributes == null) continue;

				// Check if the node is marked as relevant.
				if (nodes[index].attributes.relevant){
					var node = nodes[index];

					// If no id is presend, skip this node.
					if (!node.attributes.id){
						continue;
					}

					// Check if node has a value property.
					if (node.value){

						// Check if whitespaces should be removed.
						if (node.attributes["remove-whitespace"]){
							obj[node.attributes.id.value] = node.value.replace(/ /g, "");
							obj[node.attributes.id.value] = node.value.replace(/\'/g, "");
						}
						else{
							obj[node.attributes.id.value] = node.value;
						}
					}

					// Check if value can be gotten by selectedValue.
					else if (node.selectedName){
						obj[node.attributes.id.value] = node.selectedName;
					}

					// Check if node has a selected property.
					else if (node.selected != null && node.attributes.id){
						obj[node.attributes.id.value] = node.selected;
					}
				}
			}
			return obj;
		},

		/**
		*	Resets all the values.
		*/
		reset:function(){
			// Get nodes in content tag.
			var nodes = Polymer.dom(this.$.content).getDistributedNodes();
			for (var index=0 ; index<nodes.length ; index++){
				var node = nodes[index];

				// Check if node has a value property.
				if (node.value){
					node.value = "";
				}

				// Check if value can be gotten by selectedValue.
				else if (node.selectedName){
					node.selectedName = "";
				}

				// Check if node has a selected property.
				else if (node.selected != null && node.attributes.id){
					node.selected = -1;
				}
			}
		}
  	});
</script>
