<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="calm-form-line.html">
<link rel="import" href="calm-conditional-form.html">

<!--
`calm-form`
simplifies form handling and works well with `calm-dropdown-menu` and `calm-conditional-form`.

@demo demo/index.html
-->

<dom-module id="calm-form">
	<style>
		paper-button{
			flex-basis: 200px;
		}
		#buttons{
			margin-top: 48px;
			min-height: 40px;
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  			display: -webkit-flex;     /* NEW - Chrome */
  			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			-webkit-box-orient: horizontal;
			-moz-box-orient: horizontal;
			-ms-flexbox-orient: horizontal;
			-webkit-flex-direction: row;
			flex-direction: row;
			-webkit-box-flex-wrap: wrap;
			-moz-box-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;
		}
  	</style>
  	<template>
		<iron-ajax id="adapter" on-response="_handleResponse" on-error="_handleError"></iron-ajax>
    	<content id="content"></content>
		<div id="buttons">
			<template is="dom-if" if="{{!hideButton}}">
				<paper-button raised on-tap="submit">{{submitTitle}}</paper-button>
			</template>
			<template is="dom-if" if="{{showResetButton}}">
				<paper-button raised on-tap="reset">{{resetTitle}}</paper-button>
			</template>
		</div>

  	</template>
</dom-module>
<script>
  	Polymer({
    	is: "calm-form",
    	properties: {

            /**
            *   Title of the form's submit button.
            */
        	submitTitle:{
				type:String,
				value:"Submit",
                notify: true
			},

			/**
			*	Title of the reset button.
			*/
			resetTitle: {
				type: String,
				value: "Reset",
				notify: true
			},

            /**
            *   If all fields in this form should be marked as required.
            */
			allRequired:{
				type:Boolean,
				notify: true,
                value: false
			},

            /**
            *   If the submit button should be hidden.
            */
			hideButton:{
				type: Boolean,
				notify: true,
				value: false
			},

			/**
			*	If the reset button should be shown.
			*/
			showResetButton:{
				type: Boolean,
				notify: true,
				value: false
			},

			/**
			*	If set to true this element generates an ajax request as soon as the form is submitted.
			*/
			auto: {
				type: Boolean,
				notify: true,
				value: false
			},

			/**
			*	The method of the ajax request.
			*/
			method:{
				type: String,
				notify: true,
				value: "POST"
			},

			/**
			*	The target url of the ajax request.
			*/
			action: {
				type: String,
				notify: true
			}
        },
    	ready: function(e){

    	},

        /**
        *   Validates content, reads the content's values and fires a submit or error event.
        */
		submit: function(){
            var isValid = this._validateContent();
			if (isValid){
                var object = this._readContent();
				this.fire("form-submit", {object: object});
				if (this.auto){
					if (this.action == null || this.action == ""){
						throw(": action property of calm-form has to be set if auto-mode is enabled.");
						return;
					}
					var adapter = this.$.adapter;
					adapter.url = this.action;
					adapter.method = this.method;
					adapter.body = object;
					adapter.handleAs = "json";
					adapter.contentType = "application/x-www-form-urlencoded";
					adapter.generateRequest();
				}
			}
			else{
				this.fire("form-error", {invalidNode : this._firstInvalidNode});
			}
		},

        /**
        *   Validates all elements.
        *   @return {Boolean} true if every element is valid, otherwise false.
        */
        _validateContent: function(){
            // Gets the nodes inside the content element.
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
			var isValid = true;
			this._firstInvalidNode = null;

            // Checks every node for validity.
			for (var index=0 ; index<nodes.length ; index++){

                // Makes sure only valid nodes are validated.
				if (nodes[index].nodeType == 1){

					var nodeIsValid = true;
					if (typeof nodes[index].validate == "function"){
						// If allRequired is true, mark this node as required.
						if (this.allRequired){
							nodes[index].required = true;
						}

						// Actually validate element.
						nodeIsValid = nodes[index].validate();
						if (!nodeIsValid && this._firstInvalidNode == null){
							if (nodes[index].invalidNode != null){
								this._firstInvalidNode = nodes[index].invalidNode;
							}
							else{
								this._firstInvalidNode = nodes[index];
							}
						}
					}
					else{
						if (nodes[index].required && (nodes[index].value == null || nodes[index].value == "")){
							nodeIsValid = false;
							this._firstInvalidNode = nodes[index]
						}
					}


					isValid = isValid && nodeIsValid;
				}
			}
            return isValid;
        },

        /**
        *   Gets the value of each element.
        *   @return {Object} containing all ids and values of the (compatible) content.
        */
        _readContent: function(){
            // Gets all content nodes.
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
            var object = {};
            for (var index=0 ; index<nodes.length ; index++){

                // Makes sure only relevant nodes with the needed function are processed.
                if (nodes[index].nodeType == 1){

					if ((typeof nodes[index].getValue == "function")){
						// Gets node's value.
	                    var lineObject = nodes[index].getValue();
	                    for (var key in lineObject){
	                        if (lineObject.hasOwnProperty(key)){
	                            object[key] = lineObject[key];
	                        }
	                    }
					}
					else{
						// Skip if there's nothing to read.
						if (nodes[index].attributes == null) continue;

						if (nodes[index].value != null){
							var node = nodes[index];

							// If no id is presend, skip this node.
							if (!node.attributes.id){
								continue;
							}

							// Check if whitespaces should be removed.
							if (node.attributes["remove-whitespace"]){
								object[node.attributes.id.value] = node.value.replace(/ /g, "");
								object[node.attributes.id.value] = node.value.replace(/\'/g, "");
							}
							else{
								object[node.attributes.id.value] = node.value;
							}
						}
						// Check if value can be gotten by selectedValue.
						else if (nodes[index].selectedValue){
							object[nodes[index].attributes.id.value] = nodes[index].selectedValue;
						}

						// Check if node has a selected property.
						else if (nodes[index].selected != null && nodes[index].attributes.id){
							object[nodes[index].attributes.id.value] = nodes[index].selected;
						}
					}
                }
            }
            return object;
        },

		/**
        *   Resets the value of each element.
        */
        reset: function(){
            // Gets all content nodes.
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
            for (var index=0 ; index<nodes.length ; index++){

                // Makes sure only relevant nodes with the needed function are processed.
                if (nodes[index].nodeType == 1){

					if ((typeof nodes[index].reset == "function")){
	                    nodes[index].reset();
					}
					else{
						// Check if the node has a value.
						if (nodes[index].value != null){
							nodes[index].value = "";
						}
						// Check if value can be gotten by selectedValue.
						else if (nodes[index].selectedName){
							nodes[index].selectedName = "";
						}

						// Check if node has a selected property.
						else if (nodes[index].selected != null && nodes[index].attributes.id){
							nodes[index].selected = -1;
						}
					}
                }
            }
        },

		_handleResponse: function(e){
			this.fire("form-request-success", e);
		},

		_handleError: function(e){
			this.fire("form-request-error", e);
		}

        /**
        *   Fired when validation was successfull and form is ready to submit.
        *
        *   @event form-submit
        */

        /**
        *   Fired when there is a validation error.
        *
        *   @event form-error
        */

		/**
        *   Fired when the form is in auto mode and the ajax request returns an error.
        *
        *   @event form-request-error
        */

		/**
        *   Fired when the form is in auto mode and the ajax request returns a response.
        *
        *   @event form-request-success
        */
  	});
</script>
